<div id="stock-lookup">
  <h3>Przeszukaj akcje</h3>
  <%= form_tag search_stocks_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
      <div class="form-group row no-padding text-center col-md-12">
        <div class="col-md-10">
          <%= text_field_tag :stock, params[:stock], placeholder: 'Symbol akcji', autofocus: true,
                             class: 'form-control search-box input-lg' %>
        </div>
        <div class="col-md-2">
          <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
              <i class="fa fa-search"></i> Wyszukaj
          <% end %>
        </div>
      </div>
  <% end %>
  <%= render 'common/spinner' %>
  <% if @stock %>
      <div id="stock-lookup-results" class="well results-block">
        <strong>Symbol:</strong> <%= @stock.ticker %>
        <strong>Nazwa:</strong> <%= @stock.name %>
        <strong>Cena:</strong> <%= @stock.price %>
        <% if current_user.can_add_stock?(@stock.ticker) %>
            <%= link_to 'Dodaj do śledzonych', user_stocks_path(user: current_user, stock_ticker: @stock.ticker, stock_id: @stock.id || ''), method: :post,
                        class: 'btn btn-xs btn-success' %>
        <% else %>
          <span class="label label-default">
            <%= current_user.under_stock_limit? ? 'Możesz śledzić maksymalnie 10 zasobów' : 'Zasób o tym kodzie został już dodany'  %>
          </span>
        <% end %>
      </div>
  <% end %>
  <div id="stock-lookup-errors">
  </div>
</div>
<div id="user-stocks">
  <% @user_stocks.each do |stock| %>
      <div id="stock-lookup-results" class="well results-block">
        <strong>Symbol:</strong> <%= stock.ticker %>
        <strong>Nazwa:</strong> <%= stock.name %>
        <strong>Cena:</strong> <%= stock.price %>
      </div>
  <% end %>
</div>