<div class="row">
  <!--tak naprawde nie trzeba podawa urla i wszystko zadzialalo by domyslnie
   ALE dla demonstracji zostal on dodany -> trzeba miec na uwadze czy to edycja czy utworzenie nowego usera
   urle tworzone sa w inny sposob (liczba mnoga/pojedyncza w path)-->
  <%= form_for @user, html: {class: 'form-horizontal', role: :form}, url: @user.new_record? ? users_path(@user) : user_path(@user) do |u| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= u.label 'Nazwa' %>
        </div>
        <div class="col-sm-8">
          <%= u.text_field :username, class: 'form-control', autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= u.label 'Email' %>
        </div>
        <div class="col-sm-8">
          <%= u.text_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= u.label 'Hasło' %>
        </div>
        <div class="col-sm-8">
          <%= u.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <%= u.submit @user.new_record? ? 'Utwórz' : 'Zaktualizuj', class: 'btn btn-lg btn-info' %>
          <% unless @user.new_record? %>
            <%= link_to 'Wróć', _back_url , class: 'btn btn-lg  btn-default'%>
          <% end %>
        </div>
      </div>
  <% end %>
</div>