<!DOCTYPE html>
<html>
<head>
  <title>RailsStart</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation' %>

<!--DISPLAY FLASHA-->
<!--COS JAK ?. w C# -->
<!--flash&.keys -&#45;&#45; nie dziala na heroku-->

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% if !flash.nil? && !flash.keys.nil? %>
        <% flash.each do |name, msg| %>
            <% if (msg.is_a?(Hash)) %>
                <% msg.each do |k, v| %>
                    <div class="alert alert-<%= "#{k}" %>">
                      <a href="#" class="close" data-dismiss="alert">&#215;</a>
                      <%= content_tag :div, v.is_a?(Array) ? v.join(', ') : v, id: "flash_#{k}" %>
                    </div>
                <% end %>
            <% else %>
                <div class="alert alert-<%= "#{name}" %>">
                  <a href="#" class="close" data-dismiss="alert">&#215;</a>
                  <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
                </div>
            <% end %>
        <% end %>
        </ul>
    <% end %>
  </div>
</div>

<div class="container">
  <%= yield %>

</div>
<%= render 'layouts/footer' %>

</body>
</html>
